<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="pl">
</head>
<body>
<strong>Witaj na portalu AIKIBLOG.PL!</strong><br><br>

Tw&#243;j kod aktywacji: {{ activation_key }}<br><br>
Kliknij w poni&#380;szy link, aby dokona&#263; aktywacji konta:<br>
<a href="aikiblog.pl/accounts/activate/{{ activation_key }}/">aikiblog.pl/accounts/activate/{{ activation_key }}/</a><br><br>
Po aktywacji mo&#380;esz si&#281; zalogowa&#263;, klikaj&#261;c w poni&#380;szy link:<br>
<a href="aikiblog.pl/accounts/login/">aikiblog.pl/accounts/login/</a><br><br>
Wszelkie pytania i sugestie prosimy kierowa&#263; na maila: pawel@aikiblog.pl.<br><br>
Pozdrawiamy i &#380;yczymy przyjemnego korzystania z serwisu!<br>
Zesp&#243;&#322; AIKIBLOG.PL
</body>
</html>