{% extends "base.html" %}

{% block content %}
        Zaloguj sie do portalu AIKI-BLOG:<br><br>
        <form method="post" action=".">

                {% csrf_token %}
            <table>
                {% for field in form %}
                        <tr><td id="form_label">{{ field.label }}:</td>
					        <td>{{ field }}</td>
                            <td id="form_errors">{% for error in field.errors %}{{ error }}{% endfor %}</td>
                        </tr>

                    {% endfor %}
                <tr><td></td><td><input type="submit" value="Zaloguj" /></td></tr>
            </table><br>

                </form>
        <br>
        <p>Nie masz konta? <a href="{% url 'registration_register' %}">Zarejestruj się</a>!</p>
{% endblock %}