<div id="menuright">
		<div id="menuright_logo">
		</div>
		<br>
		{% for entry in all_trainings %}
		<div id="menuright_post">
			<div id="menuright_avatar">
				<a href="{% url "user-detail" entry.user.id %}#content"><img src="{{ STATIC_URL|cut:'static/' }}{{ entry.user.avatar }}" height=50/></a>
			</div>
			<div id="menuright_head">
				<a href="{% url "user-detail" entry.user.id %}#content">{{ entry.user.first_name }} {{ entry.user.last_name }}</a><br>
				{{ entry.date|date:"d E Y" }} o {{ entry.date|date:"H:i" }}<br>
				<a href="{% url "training-detail" entry.slug %}#content">
				{% ifequal entry.type "T" %}
				trening
				{% endifequal %}
				{% ifequal entry.type "S" %}
				staż
				{% endifequal %}
				w {{ entry.place }}</a>
			</div>
		</div>
		{% endfor %}
		<br>
	</div>