<div id="post">
	<div id="post_avatar"><a href="{% url "user-detail" entry.user.id %}#content"><img src="{{ STATIC_URL|cut:'static/' }}{{ entry.user.avatar }}" height=70 alt="" class="center" /></a></div>
		<div id="post_head"><a href="{% url "user-detail" entry.user.id %}#content">{{ entry.user.first_name }} {{ entry.user.last_name }}</a>
			{% ifequal entry.user.sex "M" %}
			był
			{% endifequal %}
			{% ifequal entry.user.sex "K" %}
			była
			{% endifequal %}
			na
			{% ifequal entry.type "T" %}
			treningu
			{% endifequal %}
			{% ifequal entry.type "S" %}
			stażu
			{% endifequal %}
			<br> <a href="{% url "training-detail" entry.slug %}#content"> {{ entry.date|date:"d E Y" }} o {{ entry.date|date:"H:i" }} w {{ entry.place }}</a>
			<div id="comments"><a href="{% url "training-detail" entry.slug %}#comments">Komentarze({{ entry.trainingcomment_set.all.count }})</a>
				{% if request.user.is_authenticated %}|&nbsp;<a href="{% url "training-detail" entry.slug %}#comments">Dodaj komentarz</a>
					{% endif %}
			</div>
		</div>
		<div id="post_body">
	</div>
</div>
