{%  extends "base_forms.html" %}
{% load staticfiles %}
{% block content %}
	<meta http-equiv="Refresh" content="60" />
	<a name="content"></a>
	Dodaj informacje o swoim stażu.<br>
	Techniki zaznaczaj z klawiszem CTRL.<br>
	Jeśli nie dodałeś jeszcze technik z tego treningu, dodaj je za pomocą <a href="{% url "add-techniques" %}#content">
	<u>tego formularza!</u></a>,<br> lub kliknij znak + obok okna wyboru technik<br><br>
<table>
	<form method="post" class="form-horizontal" role="form">
		{% csrf_token %}
		<div class="form-group">
			{% for field in form %}
				{% if field.name == 'techniques' %}
					<tr><td id="form_label">{{ field.label }}:</td>
						<td valign="top">
							<select multiple="multiple" id="id_techniques" name="techniques" size="18">
								{% for technique in techniques %}
									<option value={{ technique.id }}>{{ technique.date|date:"d.m.y" }} - {{ technique.stand.name }} {{ technique.attack.name }} {{ technique.technique.name }}</option>
								{% endfor %}
							</select><td><a onclick="myOpen();" onmouseover=" " style="cursor: pointer;"><b><font size="6">+</font></b></a></td></td>
						<td id="form_errors">{% for error in field.errors %}{{ error }}{% endfor %}</td>
					</tr>
					<tr>
						<td></td>
						<td><a onclick="window.location.reload()" target="_blank" onmouseover=" " style="cursor: pointer;">Odśwież bazę</a></td>
					</tr>
				{% else %}
					<tr>
						<td id="form_label">{{ field.label }}:</td>
						<td>{{ field }}</td>
						<td id="form_errors">{% for error in field.errors %}{{ error }}{% endfor %}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</div>
		<tr>
			<td></td>
			<td>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Zapisz</button>
					</div>
				</div>
			</td>
		</tr>
	</form>
</table>
	<script>
	function myOpen() {
		window.open("{% url "add-techniques" %}#content", null, "height=370, width=550, status=no, toolbar=no, menubar=no, location=no");
	}
	</script>
	<script src="{% static 'js/datetimepicker/jquery.datetimepicker.full.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			$('#id_place').autocomplete();
			$.datetimepicker.setLocale('pl');
			$('#id_date').datetimepicker({
				step: 15,
				format:'d.m.Y H:i',
				dayOfWeekStart: 1
			});
		});
	</script>
{% endblock %}