{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="pl">
<meta name="robots" content="ALL">
<title>AIKI-BLOG</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css"  />
</head>
<body>
<div id="top">
	<div id="NAGLOWEK">&nbsp;</div>
		{% if not request.user.is_authenticated %}
			<div id="menu_2">
		{% else %}
			<div id="menu">
		{% endif %}
			<a href="{% url "news-list" %}"><font color=#962225>NEWS</font></a> &nbsp;
			|&nbsp; <a href="{% url "training-list" %}"><font color=#962225>TRENINGI</font></a> &nbsp;
			| &nbsp; <a href="{% url "stage-list" %}"><font color=#962225>STAŻE</font></a> &nbsp;
			| &nbsp; <a href="{% url "dojo-list" %}"><font color=#962225>DOJO</font></a> &nbsp;
			| &nbsp; KONTAKT &nbsp;
			{% csrf_token %}
			{% if not request.user.is_authenticated %}
				| &nbsp; <a href="{% url 'auth_login' %}"><font color=#962225>LOGIN</font></a> &nbsp;
				| &nbsp; <a href="{% url 'registration_register' %}"><font color=#962225>REJESTRACJA</font></a> &nbsp;
            {% else %}
				| &nbsp; <a href="{% url 'auth_logout' %}?next=/"><font color=#962225>LOGOUT</font></a>&nbsp;<br><br>
				<font size = 2px> &nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url "user-detail" request.user.id %}"><img src="{{ STATIC_URL|cut:'static/' }}{{ request.user.avatar }}" height=30 alt="" class="center" /> {{ request.user.first_name|upper }} {{ request.user.last_name|upper }}</a> &nbsp;
				| &nbsp; <a href="{% url "add-training" %}">DODAJ TRENING</a>/<a href="{% url "add-stage" %}">STAŻ</a> &nbsp;
				|&nbsp; <a href="{% url "calendar" %}">MÓJ KALENDARZ</a>&nbsp;
			{% endif %}
			</div>
		<div id="container">
			<div id="main">
			{% block content %}
			{% endblock %}
			</div>
			{% block menuright %}
			{% endblock %}
		</div>
		<div id="footer">
			<br><br>
			Projekt i realizacja: Paweł Kowalik<br> Wszelkie prawa zastrzeżone © AIKIBLOG 2015
		</div>
</div>
</body>
</html>