{%  extends "base_forms.html" %}
{% block content %}
	<a name="calendar"></a>
	<h4><center><a href= "{% url 'month' year month 'prev' %}#calendar">&lt;&lt;</a>&nbsp;{{ mname }} {{ year }}&nbsp;
		<a href= "{% url 'month' year month 'next' %}#calendar">&gt;&gt;</a></center></h4>
	<table>
	<tr>
		<td class="empty"><center>Pn</center></td>
		<td class="empty"><center>Wt</center></td>
		<td class="empty"><center>Śr</center></td>
		<td class="empty"><center>Czw</center></td>
		<td class="empty"><center>Pt</center></td>
		<td class="empty"><center>Sob</center></td>
		<td class="empty"><center>Nd</center></td>
	</tr>
	{% for week in month_days %}
		<tr id="table_month_row">
		{% for day, trainings, current in week %}
			<td valign="top" id={% if day == 0 %}"empty"{% endif %}
			{% if day != 0 and current %}"table_month_cell_current"{% endif %}
			{% if day != 0 and trainings.count != 0 %}"table_month_cell_training"{% endif %}
			{% if day != 0 and not current %}"table_month_cell"{% endif %}
			{% if day != 0 %}
				<b>{{ day }}</b><br><br>
				{% for training in trainings %}
					<style>
						#div{{ training.id }}{
							visibility: hidden
							}
					</style>
					<a href="{% url "training-detail" training.slug %}#content">
					<img src="{{ STATIC_URL}}images/aikido_logo_s.png" height="50" onMouseOver="show('div{{ training.id }}')"
						 onMouseOut="hide('div{{ training.id }}')"></a>
					<div id="div{{ training.id }}" style="
						position: absolute;
						height: 50px;
						width: 180px;
						border: 1px solid;
						border-radius: 5px;
						border-color: #d1d1d1 #d1d1d1 #d1d1d1 #d1d1d1;
						background: #ededed;
						background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
						background: -moz-linear-gradient(top, #ffffff, #efefef);
						box-shadow: 0 0 10px 1px black;
						">
						{% ifequal training.type "T" %}
						Trening
						{% endifequal %}
						{% ifequal training.type "S" %}
						Staż
						{% endifequal %}
						w {{ training.place }}<br>
						{{ training.date|date:"d E Y"}}<br>
						o godzinie {{ training.date|date:"H:i" }}
					</div>
				{% endfor %}
			{% endif %}
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
<script>
	function show(id) {
		document.getElementById(id).style.visibility = "visible";
		}
	function hide(id) {
		document.getElementById(id).style.visibility = "hidden";
		}
</script>
{% endblock %}