{% extends "base.html" %}
{% block content %}

{% for entry in stage_list %}
{% include "aikiblog/parts/training_list.html" %}
{% endfor  %}
    <div>
        {% if is_paginated %}
   			 {% if page_obj.has_next %}
                 <p align="right"><a align="right" href="{% url "stage-list" page_obj.next_page_number %}">starsze--></a></p>
			{% endif %}
		    {% if page_obj.has_previous %}
        		<p align="left"><a href="{% url "stage-list" page_obj.previous_page_number %}"><--nowsze</a></p>
            {% endif %}
		{% endif %}
    </div>
{% endblock %}
{% block menuright %}
    {% include "aikiblog/parts/menuright.html" %}
{% endblock %}