{% extends "base.html" %}
{% block content %}
	<a name="content"></a>
	<p>Twoje techniki <b>{{ technique }}</b>:</p>
	<table>
	<tr>
		<td id="table_techniques_date_cell"><b>Data</b></td>
		<td id="table_techniques_stand_cell"><b>Postawa</b></td>
		<td id="table_techniques_attack_cell"><b>Atak</b></td>
		<td id="table_techniques_mistakes_cell"><b>Błędy</b></td>
	</tr>

{% for entry in techtren_list %}
	<tr>
		<td valign="top" id="table_techniques_date_cell">{{ entry.date|date:"d b y" }}</td>
		<td valign="top" id="table_techniques_stand_cell">{{ entry.stand }}</td>
		<td valign="top" id="table_techniques_attack_cell">{{ entry.attack }}</td>
		<td valign="top" id="table_techniques_mistakes_cell">{{ entry.mistakes }}</td>
		</tr>
{% endfor  %}
	</table>
	<table>
	<tr>
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<td id="pagination_left"><a href="{% url "technique-list" technique.slug page_obj.previous_page_number %}#content">&lt;&lt;nowsze</a></td>
			{% endif %}
			<td id="pagination_center"></td>
			{% if page_obj.has_next %}
				<td id="pagination_right"><a align="right" href="{% url "technique-list" technique.slug page_obj.next_page_number %}#content">starsze&gt;&gt;</a></td>
			{% endif %}
		{% endif %}
	</tr>
	</table>
{% endblock %}
{% block menuright %}
	{% include "aikiblog/parts/menuright.html" %}
{% endblock %}