{% extends "base.html" %}
{% block content %}
    <div id="post">
        <div id="post_avatar">
        <a href="{% url "user-detail" training.user.id %}"><img src="{{ STATIC_URL|cut:'static/' }}{{ training.user.avatar }}" height=100 alt="" class="center" /></a>
        </div>
        <div id="post_head_training_detail">
        <br><a href="{% url "user-detail" training.user.id %}">{{ training.user.first_name }} {{ training.user.last_name }}</a>
            {% ifequal training.user.sex "M" %}
            był
            {% endifequal %}
            {% ifequal training.user.sex "K" %}
            była
            {% endifequal %}
            na
            {% ifequal training.type "T" %}
            treningu
            {% endifequal %}
            {% ifequal training.type "S" %}
            stażu
            {% endifequal %}
            <br> {{ training.date }} w {{ training.place }}
        </div>
        <div id="post_body_training_detail"><br>
        Sensei: {{ training.sensei }}<br><br>
        <table>
        <tr>
            <td id="table_header_cell">Technika</td>
            <td id="table_header_cell">Błędy</td>
        </tr>
    {% for technique in training.techniques.all %}
        <tr>
        <td>{{ technique.stand.name }} {{ technique.attack.name }}&nbsp;&nbsp;&nbsp;<br> {{ technique.technique.name }}&nbsp;&nbsp;&nbsp;</td>
        <td>{{ technique.mistakes }}</td>


        </tr>

    {% endfor %}
        </table><br><br>
        <b>Notatki:</b><br>
        {{ training.notes }}
        <br><br>
        Komentarze:
        <ol>
		{% for comment in training.trainingcomment_set.all %}
			<br><li><b>{{ comment.author }}</b> - {{ comment.posted_date|date:" H:i " }}, {{ comment.posted_date|date:"d E Y "}}
			<br> {{ comment.text }}</li>
        {% empty %}
			Nie dodano jeszcze komentarzy
		{% endfor %}</ol><br>
	<form method="post" class="form-horizontal" role="form">
		{% csrf_token %}
		<div class="form-group">
			<div>
				Treść:<br>
                <textaera>{{ form.text }}</textaera>
				{% for error in form.text.errors %}
					{{ error }}
				{%  endfor %}
			</div>

			<div>
				<input id="id_training_id" value="{{ training.id }}" name="training_id" hidden="hidden" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<br><button type="submit" class="btn btn-default">Dodaj komentarz</button>
			</div>
		</div>
</form>

        </div>
    </div>

{% endblock %}
{% block menuright %}
    {% include "aikiblog/parts/menuright.html" %}
{% endblock %}